Repository griptape-ai/griptape-nodes, pull requests merged in 2025-10, with the labels that each got.

#2467 adding button trait to ParameterMessage
  src/griptape_nodes/exe_types/core_types.py
Labels: enhancement, parameters, engine

#2475 Fixed malformed Python generation when input list of a runnable workflow was empty.
  src/griptape_nodes/retained_mode/managers/workflow_manager.py
Labels: bug, retained mode, engine

#2451 refactor: clean up SessionManager and EngineIdentityManager
  src/griptape_nodes/bootstrap/workflow_executors/local_session_workflow_executor.py
  src/griptape_nodes/retained_mode/griptape_nodes.py
  src/griptape_nodes/retained_mode/managers/engine_identity_manager.py
  src/griptape_nodes/retained_mode/managers/library_manager.py
  src/griptape_nodes/retained_mode/managers/session_manager.py
  src/griptape_nodes/retained_mode/utils/engine_identity.py
  src/griptape_nodes/servers/ws_request_manager.py
Labels: refactor, sessions, engine

#2465 Add ability to package multiple nodes. Allows customer to send a sub-flow of Nodes for distributed execution.
  src/griptape_nodes/retained_mode/events/flow_events.py
  src/griptape_nodes/retained_mode/events/node_events.py
  src/griptape_nodes/retained_mode/managers/flow_manager.py
  src/griptape_nodes/retained_mode/managers/node_manager.py
Labels: enhancement, nodes, retained mode, engine

#2489 Fix/dynamic hf model params
  libraries/griptape_nodes_advanced_media_library/diffusers_nodes_library/common/parameters/diffusion/common/upscale_runtime_parameters.py
  libraries/griptape_nodes_advanced_media_library/diffusers_nodes_library/common/parameters/diffusion/flux/controlnet_parameters.py
  libraries/griptape_nodes_advanced_media_library/diffusers_nodes_library/common/parameters/huggingface_model_parameter.py
  libraries/griptape_nodes_advanced_media_library/diffusers_nodes_library/common/utils/option_utils.py
Labels: bug, nodes, parameters, refactor

#2486 feat: add cooperative cancellation
  src/griptape_nodes/exe_types/node_types.py
  src/griptape_nodes/machines/control_flow.py
  src/griptape_nodes/machines/parallel_resolution.py
  src/griptape_nodes/machines/sequential_resolution.py
  src/griptape_nodes/retained_mode/managers/flow_manager.py
  src/griptape_nodes/utils/async_utils.py
  tests/unit/machines/test_parallel_flow_execution.py
Labels: enhancement, nodes, engine, performance

#2488 feat: apply cooperative cancellation to agent and diffusion nodes
  libraries/griptape_nodes_advanced_media_library/diffusers_nodes_library/common/parameters/diffusion/audioldm/runtime_parameters.py
  libraries/griptape_nodes_advanced_media_library/diffusers_nodes_library/common/parameters/diffusion/audioldm2/runtime_parameters.py
  libraries/griptape_nodes_advanced_media_library/diffusers_nodes_library/common/parameters/diffusion/runtime_parameters.py
  libraries/griptape_nodes_advanced_media_library/diffusers_nodes_library/common/parameters/diffusion/stable_diffusion_diffedit/runtime_parameters.py
  libraries/griptape_nodes_library/griptape_nodes_library/agents/agent.py
Labels: enhancement, nodes

#2494 fix: use process over aprocess for builder/runtime nodes
  libraries/griptape_nodes_advanced_media_library/diffusers_nodes_library/common/nodes/diffusion_pipeline_builder_node.py
  libraries/griptape_nodes_advanced_media_library/diffusers_nodes_library/common/nodes/diffusion_pipeline_runtime_node.py
Labels: bug, nodes, performance

#2495 Fix/switch diffusion nodes
  libraries/griptape_nodes_advanced_media_library/diffusers_nodes_library/common/nodes/diffusion_pipeline_builder_node.py
  libraries/griptape_nodes_advanced_media_library/diffusers_nodes_library/common/nodes/diffusion_pipeline_runtime_node.py
Labels: bug, nodes, engine

#2496 fix: convert windows urls to posix when dealing with static files
  src/griptape_nodes/drivers/storage/base_storage_driver.py
  src/griptape_nodes/drivers/storage/griptape_cloud_storage_driver.py
  src/griptape_nodes/drivers/storage/local_storage_driver.py
  src/griptape_nodes/retained_mode/managers/static_files_manager.py
Labels: bug, engine

#2499 Upscaler param reformat
  libraries/griptape_nodes_advanced_media_library/diffusers_nodes_library/common/parameters/diffusion/audioldm2/runtime_parameters.py
  libraries/griptape_nodes_advanced_media_library/diffusers_nodes_library/common/parameters/diffusion/common/upscale_runtime_parameters.py
  libraries/griptape_nodes_advanced_media_library/diffusers_nodes_library/common/parameters/diffusion/flux/controlnet_runtime_parameters.py
  libraries/griptape_nodes_advanced_media_library/diffusers_nodes_library/common/parameters/diffusion/flux/img2img_runtime_parameters.py
  libraries/griptape_nodes_advanced_media_library/diffusers_nodes_library/common/parameters/diffusion/qwen/img2img_runtime_parameters.py
  libraries/griptape_nodes_advanced_media_library/diffusers_nodes_library/common/parameters/diffusion/qwen/upscale_runtime_parameters.py
  libraries/griptape_nodes_advanced_media_library/diffusers_nodes_library/common/parameters/diffusion/runtime_parameters.py
Labels: enhancement, nodes, parameters, refactor

#2502 deps: bump peft to >=0.17.0
  libraries/griptape_nodes_advanced_media_library/griptape_nodes_library.json
Labels: node libraries, dependencies

#2485 fix: replace 'hidden' with 'hide' in file_manager_tool.py
  libraries/griptape_nodes_library/griptape_nodes_library/tools/file_manager_tool.py
  libraries/griptape_nodes_library/griptape_nodes_library/video/resize_video.py
Labels: bug, nodes, parameters, refactor

#2510 reorder runtime elements opposed to parameters
  libraries/griptape_nodes_advanced_media_library/diffusers_nodes_library/common/nodes/diffusion_pipeline_runtime_node.py
Labels: bug, parameters

#2509 fix: properly handle connections when removing dynamic connections
  libraries/griptape_nodes_advanced_media_library/diffusers_nodes_library/common/nodes/diffusion_pipeline_runtime_node.py
  src/griptape_nodes/exe_types/node_types.py
  src/griptape_nodes/retained_mode/managers/node_manager.py
Labels: bug, nodes, parameters, engine

#2515 Codify workflow saving scenarios to address regression.
  src/griptape_nodes/retained_mode/managers/workflow_manager.py
Labels: bug, enhancement, refactor, save/load

#2512 refactor: clean up 2509 feedback
  libraries/griptape_nodes_advanced_media_library/diffusers_nodes_library/common/nodes/diffusion_pipeline_runtime_node.py
Labels: nodes, refactor

#2519 deps: bump griptape to 1.8.5
  libraries/griptape_nodes_advanced_media_library/griptape_nodes_library.json
  libraries/griptape_nodes_advanced_media_library/openpose_nodes_library/model/body.py
  pyproject.toml
  uv.lock
Labels: dependencies

#2531 fix: wait for workflows to finish loading before listing/running them
  src/griptape_nodes/retained_mode/managers/workflow_manager.py
Labels: bug, retained mode, engine

#2539 MergeText node no longer throws away inputs of integer 0, float 0.0, boolean False, and other "falsey" values
  libraries/griptape_nodes_library/griptape_nodes_library/text/merge_texts.py
Labels: bug, nodes

#2306 Library Node Executor
  libraries/griptape_nodes_advanced_media_library/griptape_nodes_library.json
  src/griptape_nodes/bootstrap/utils/python_subprocess_executor.py
  src/griptape_nodes/bootstrap/workflow_executors/local_session_workflow_executor.py
  src/griptape_nodes/bootstrap/workflow_executors/local_workflow_executor.py
  src/griptape_nodes/bootstrap/workflow_executors/subprocess_workflow_executor.py
  src/griptape_nodes/bootstrap/workflow_executors/utils/subprocess_script.py
  src/griptape_nodes/bootstrap/workflow_publishers/local_workflow_publisher.py
  src/griptape_nodes/bootstrap/workflow_publishers/subprocess_workflow_publisher.py
  src/griptape_nodes/bootstrap/workflow_publishers/utils/subprocess_script.py
  src/griptape_nodes/common/node_executor.py
  src/griptape_nodes/exe_types/connections.py
  src/griptape_nodes/exe_types/core_types.py
  src/griptape_nodes/exe_types/node_types.py
  src/griptape_nodes/machines/control_flow.py
  src/griptape_nodes/machines/parallel_resolution.py
  src/griptape_nodes/machines/sequential_resolution.py
  src/griptape_nodes/node_library/library_registry.py
  src/griptape_nodes/retained_mode/events/execution_events.py
  src/griptape_nodes/retained_mode/events/node_events.py
  src/griptape_nodes/retained_mode/events/workflow_events.py
  src/griptape_nodes/retained_mode/managers/flow_manager.py
  src/griptape_nodes/retained_mode/managers/library_manager.py
  src/griptape_nodes/retained_mode/managers/node_manager.py
  src/griptape_nodes/retained_mode/managers/workflow_manager.py
Labels: enhancement, refactor, node libraries, engine

#2536 Build-your-own Diffusion Pipelines
  libraries/griptape_nodes_advanced_media_library/diffusers_nodes_library/common/parameters/diffusion/allegro/allegro_parameters.py
  libraries/griptape_nodes_advanced_media_library/diffusers_nodes_library/common/parameters/diffusion/allegro/pipeline_type_parameters.py
  libraries/griptape_nodes_advanced_media_library/diffusers_nodes_library/common/parameters/diffusion/amused/amused_parameters.py
  libraries/griptape_nodes_advanced_media_library/diffusers_nodes_library/common/parameters/diffusion/amused/img2img_parameters.py
  libraries/griptape_nodes_advanced_media_library/diffusers_nodes_library/common/parameters/diffusion/amused/inpaint_parameters.py
  libraries/griptape_nodes_advanced_media_library/diffusers_nodes_library/common/parameters/diffusion/amused/pipeline_type_parameters.py
  libraries/griptape_nodes_advanced_media_library/diffusers_nodes_library/common/parameters/diffusion/audioldm/audioldm_parameters.py
  libraries/griptape_nodes_advanced_media_library/diffusers_nodes_library/common/parameters/diffusion/audioldm/pipeline_type_parameters.py
  libraries/griptape_nodes_advanced_media_library/diffusers_nodes_library/common/parameters/diffusion/audioldm/runtime_parameters.py
  libraries/griptape_nodes_advanced_media_library/diffusers_nodes_library/common/parameters/diffusion/builder_parameters.py
  libraries/griptape_nodes_advanced_media_library/diffusers_nodes_library/common/parameters/diffusion/custom/__init__.py
  libraries/griptape_nodes_advanced_media_library/diffusers_nodes_library/common/parameters/diffusion/custom/pipeline_type_parameters.py
  libraries/griptape_nodes_advanced_media_library/diffusers_nodes_library/common/parameters/diffusion/diffusion_pipeline_type_parameters.py
  libraries/griptape_nodes_advanced_media_library/diffusers_nodes_library/common/parameters/diffusion/flux/controlnet_parameters.py
  libraries/griptape_nodes_advanced_media_library/diffusers_nodes_library/common/parameters/diffusion/flux/fill_parameters.py
  libraries/griptape_nodes_advanced_media_library/diffusers_nodes_library/common/parameters/diffusion/flux/flux_parameters.py
  libraries/griptape_nodes_advanced_media_library/diffusers_nodes_library/common/parameters/diffusion/flux/img2img_parameters.py
  libraries/griptape_nodes_advanced_media_library/diffusers_nodes_library/common/parameters/diffusion/flux/kontext_parameters.py
  libraries/griptape_nodes_advanced_media_library/diffusers_nodes_library/common/parameters/diffusion/flux/pipeline_type_parameters.py
  libraries/griptape_nodes_advanced_media_library/diffusers_nodes_library/common/parameters/diffusion/flux/upscale_parameters.py
  libraries/griptape_nodes_advanced_media_library/diffusers_nodes_library/common/parameters/diffusion/pipeline_type_parameters.py
  libraries/griptape_nodes_advanced_media_library/diffusers_nodes_library/common/parameters/diffusion/qwen/img2img_parameters.py
  libraries/griptape_nodes_advanced_media_library/diffusers_nodes_library/common/parameters/diffusion/qwen/pipeline_type_parameters.py
  libraries/griptape_nodes_advanced_media_library/diffusers_nodes_library/common/parameters/diffusion/qwen/qwen_parameters.py
  libraries/griptape_nodes_advanced_media_library/diffusers_nodes_library/common/parameters/diffusion/qwen/upscale_parameters.py
  libraries/griptape_nodes_advanced_media_library/diffusers_nodes_library/common/parameters/diffusion/stable_diffusion/attend_excite_parameters.py
  libraries/griptape_nodes_advanced_media_library/diffusers_nodes_library/common/parameters/diffusion/stable_diffusion/diff_edit_parameters.py
  libraries/griptape_nodes_advanced_media_library/diffusers_nodes_library/common/parameters/diffusion/stable_diffusion/pipeline_type_parameters.py
  libraries/griptape_nodes_advanced_media_library/diffusers_nodes_library/common/parameters/diffusion/stable_diffusion/sd3_parameters.py
  libraries/griptape_nodes_advanced_media_library/diffusers_nodes_library/common/parameters/diffusion/stable_diffusion/sd_parameters.py
  libraries/griptape_nodes_advanced_media_library/diffusers_nodes_library/common/parameters/diffusion/stable_diffusion_ae/runtime_parameters.py
  libraries/griptape_nodes_advanced_media_library/diffusers_nodes_library/common/parameters/diffusion/wan/img2vid_parameters.py
  libraries/griptape_nodes_advanced_media_library/diffusers_nodes_library/common/parameters/diffusion/wan/pipeline_type_parameters.py
  libraries/griptape_nodes_advanced_media_library/diffusers_nodes_library/common/parameters/diffusion/wan/vace_parameters.py
  libraries/griptape_nodes_advanced_media_library/diffusers_nodes_library/common/parameters/diffusion/wan/vid2vid_parameters.py
  libraries/griptape_nodes_advanced_media_library/diffusers_nodes_library/common/parameters/diffusion/wan/wan_parameters.py
  libraries/griptape_nodes_advanced_media_library/diffusers_nodes_library/common/parameters/diffusion/wuerstchen/pipeline_type_parameters.py
  libraries/griptape_nodes_advanced_media_library/diffusers_nodes_library/common/parameters/diffusion/wuerstchen/wuerstchen_parameters.py
  libraries/griptape_nodes_advanced_media_library/diffusers_nodes_library/common/parameters/huggingface_model_parameter.py
  libraries/griptape_nodes_advanced_media_library/diffusers_nodes_library/common/parameters/huggingface_repo_parameter.py
  libraries/griptape_nodes_advanced_media_library/diffusers_nodes_library/common/utils/huggingface_utils.py
Labels: enhancement, nodes

#2541 fix: don't just look for parameters when removing elements
  libraries/griptape_nodes_advanced_media_library/diffusers_nodes_library/common/nodes/diffusion_pipeline_runtime_node.py
Labels: bug, nodes, parameters

#2537 BaseNode.state as property that can be marked volatile
  libraries/griptape_nodes_advanced_media_library/diffusers_nodes_library/common/nodes/diffusion_pipeline_builder_node.py
  libraries/griptape_nodes_advanced_media_library/diffusers_nodes_library/common/utils/huggingface_utils.py
  src/griptape_nodes/exe_types/node_types.py
Labels: enhancement, nodes, engine

#2551 Add seconds per iteration for base diffusion pipeline
  libraries/griptape_nodes_advanced_media_library/diffusers_nodes_library/common/parameters/diffusion/runtime_parameters.py
Labels: enhancement, nodes, performance

#2555 use semver instead of custom Version
  pyproject.toml
  src/griptape_nodes/retained_mode/griptape_nodes.py
  src/griptape_nodes/retained_mode/managers/version_compatibility_manager.py
  src/griptape_nodes/retained_mode/managers/workflow_manager.py
  src/griptape_nodes/version_compatibility/versions/v0_39_0/modified_parameters_set_removal.py
  src/griptape_nodes/version_compatibility/workflow_versions/v0_7_0/local_executor_argument_addition.py
  uv.lock
Labels: refactor, dependencies

#2556 Adds a list of nodes used by a workflow in the workflow metadata
  src/griptape_nodes/node_library/workflow_registry.py
  src/griptape_nodes/retained_mode/events/flow_events.py
  src/griptape_nodes/retained_mode/managers/flow_manager.py
  src/griptape_nodes/retained_mode/managers/workflow_manager.py
Labels: enhancement, save/load, engine

#2542 Implement node deprecation flag
  src/griptape_nodes/node_library/library_registry.py
  src/griptape_nodes/retained_mode/managers/version_compatibility_manager.py
Labels: enhancement, nodes, node libraries, engine

#2567 When HF model choices change, use prior value if possible
  libraries/griptape_nodes_advanced_media_library/diffusers_nodes_library/common/parameters/huggingface_model_parameter.py
Labels: enhancement, nodes, parameters

#2570 Keep selected MCP server on reload if possible
  libraries/griptape_nodes_library/griptape_nodes_library/tasks/mcp_task.py
Labels: enhancement, nodes

#2574 update: added new vision models to NIM driver
  libraries/griptape_nodes_library/griptape_nodes_library/config/prompt/nim_prompt.py
Labels: enhancement, nodes

#2569 Fall back to Griptape Nodes Library for Start and End Flow Nodes when publishing to a library target in node_executor
  src/griptape_nodes/common/node_executor.py
Labels: bug, node libraries, engine

#2575 Adds workflow warnings if a node is about to be (or has been) deprecated. Warns if a workflow references node types that cannot be found.
  src/griptape_nodes/retained_mode/managers/version_compatibility_manager.py
Labels: enhancement, nodes, node libraries

#2581 fix: use get_config_value to support newly nested nested config key
  src/griptape_nodes/retained_mode/managers/secrets_manager.py
Labels: bug, config, secrets
