Repository griptape-ai/griptape-nodes, pull requests merged in 2025-09, with the labels that each got.

#1995 Ensure all parameters for Load* nodes sync whether file is selected by input connection, browser picker, or file picker.
  libraries/griptape_nodes_library/griptape_nodes_library/utils/artifact_path_tethering.py
Labels: bug

#1968 add concatenate video node
  docs/nodes/video/concatenate_videos.md
  libraries/griptape_nodes_library/griptape_nodes_library.json
  libraries/griptape_nodes_library/griptape_nodes_library/video/concatenate_videos.py
  mkdocs.yml
Labels: enhancement

#2102 fix: update choices in SeedanceVideoGeneration parameters
  libraries/griptape_nodes_library/griptape_nodes_library/video/seedance_video_generation.py
  src/griptape_nodes/traits/options.py
Labels: bug

#2118 pssst, you can turn a DataNode into a Control Node now. DataNodes have hidden control ports that can be made visible.
  src/griptape_nodes/exe_types/node_types.py
Labels: enhancement

#2133 Removes errant error toasts on Save Image. Allows flows to continue if a failure control path exists instead of canceling the flow.
  libraries/griptape_nodes_library/griptape_nodes_library/image/save_image.py
Labels: enhancement

#2207 feat: support proper model download cancellation
  src/griptape_nodes/cli/commands/models.py
  src/griptape_nodes/retained_mode/managers/model_manager.py
  src/griptape_nodes/utils/async_utils.py
Labels: enhancement, engine

#2188 Update Seedance video generation node to conditionally show/hide the last frame parameter based on model ID selection. Updated UI options to hide the last frame input by default. (#2185)
  libraries/griptape_nodes_library/griptape_nodes_library/video/seedance_video_generation.py
Labels: enhancement

#2218 Created the execution_status component and applied to the EndNode
  libraries/griptape_nodes_library/griptape_nodes_library/workflows/end_flow.py
  src/griptape_nodes/exe_types/node_types.py
  src/griptape_nodes/exe_types/param_components/__init__.py
  src/griptape_nodes/exe_types/param_components/execution_status_component.py
Labels: enhancement, nodes, refactor

#2220 refactor: accept native log level in result details
  src/griptape_nodes/retained_mode/events/base_events.py
  src/griptape_nodes/retained_mode/griptape_nodes.py
  src/griptape_nodes/retained_mode/managers/flow_manager.py
  src/griptape_nodes/retained_mode/managers/library_manager.py
  src/griptape_nodes/retained_mode/managers/node_manager.py
  src/griptape_nodes/retained_mode/managers/object_manager.py
  src/griptape_nodes/retained_mode/managers/os_manager.py
  src/griptape_nodes/retained_mode/managers/sync_manager.py
  src/griptape_nodes/retained_mode/managers/workflow_manager.py
Labels: retained mode, refactor, engine

#2201 update: refactor configuration schema
  src/griptape_nodes/node_library/library_registry.py
  src/griptape_nodes/retained_mode/managers/config_manager.py
  src/griptape_nodes/retained_mode/managers/settings.py
Labels: enhancement, refactor, config, settings, engine

#2224 feat: add --version flag to top level gtn command
  src/griptape_nodes/cli/main.py
Labels: enhancement, installer

#2230 If a duplicate Parameter name is encountered, actually tell the user what the name of the Parameter was
  src/griptape_nodes/exe_types/node_types.py
Labels: enhancement, parameters

#2171 Add an Eleven Music audio generation node
  libraries/griptape_nodes_library/griptape_nodes_library.json
  libraries/griptape_nodes_library/griptape_nodes_library/audio/eleven_music_generation.py
Labels: enhancement, nodes

#2203 Migrated EngineNode to SuccessFailure node type
  libraries/griptape_nodes_library/griptape_nodes_library/engine/engine_node.py
  src/griptape_nodes/exe_types/node_types.py
Labels: nodes, refactor, engine

#2255 Use model CPU offload instead of sequential
  libraries/griptape_nodes_advanced_media_library/diffusers_nodes_library/pipelines/flux/flux_pipeline_memory_footprint.py
Labels: enhancement, nodes, performance

#2273 Fully check for empty pipe components
  libraries/griptape_nodes_advanced_media_library/diffusers_nodes_library/common/utils/torch_utils.py
Labels: bug, nodes

#2280 fix: Prevent ParameterGroup ui_options inheritance from causing trait leakage
  src/griptape_nodes/exe_types/core_types.py
Labels: bug, parameters

#2283 Fix caching for param changes
  libraries/griptape_nodes_advanced_media_library/diffusers_nodes_library/pipelines/flux/controlnet/union_flux_control_net_pipeline.py
  libraries/griptape_nodes_advanced_media_library/diffusers_nodes_library/pipelines/flux/controlnet/union_pro_flux_control_net_pipeline.py
  libraries/griptape_nodes_advanced_media_library/diffusers_nodes_library/pipelines/flux/controlnet/union_pro_two_flux_control_net_pipeline.py
  libraries/griptape_nodes_advanced_media_library/diffusers_nodes_library/pipelines/flux/flux_fill_pipeline.py
  libraries/griptape_nodes_advanced_media_library/diffusers_nodes_library/pipelines/flux/flux_pipeline.py
  libraries/griptape_nodes_advanced_media_library/diffusers_nodes_library/pipelines/flux/flux_pipeline_memory_footprint.py
  libraries/griptape_nodes_advanced_media_library/diffusers_nodes_library/pipelines/flux/tiling_flux_img_2_img_pipeline.py
Labels: bug, nodes, performance

#2279 fix: improve handling during model download failure
  src/griptape_nodes/cli/commands/models.py
  src/griptape_nodes/retained_mode/managers/model_manager.py
Labels: bug, nodes, engine

#2300 Fixes Logs clearing on cancel
  src/griptape_nodes/exe_types/node_types.py
Labels: bug, parameters, engine

#2305 Add Cancellation Logic into Single Node Resolution
  src/griptape_nodes/retained_mode/managers/flow_manager.py
Labels: bug, engine

#2307 fix: don't mark process as abstract
  src/griptape_nodes/exe_types/node_types.py
Labels: bug, engine

#2314 Package a node into a Start Node -> Package node -> End Node flow for distributed execution.
  src/griptape_nodes/retained_mode/events/flow_events.py
  src/griptape_nodes/retained_mode/managers/flow_manager.py
  src/griptape_nodes/retained_mode/managers/workflow_manager.py
Labels: enhancement, nodes, retained mode, engine

#2327 Seedream 4.0: Accept up to 10 input images
  libraries/griptape_nodes_library/griptape_nodes_library/image/seedream_image_generation.py
Labels: enhancement, nodes

#2343 Rename diffusions nodes
  libraries/griptape_nodes_advanced_media_library/griptape_nodes_library.json
Labels: nodes, refactor

#2350 fix: split video clear on run
  libraries/griptape_nodes_library/griptape_nodes_library/video/split_video.py
Labels: bug, nodes

#2344 Packaged flows now have workflow shapes available.
  src/griptape_nodes/retained_mode/events/flow_events.py
  src/griptape_nodes/retained_mode/managers/flow_manager.py
  src/griptape_nodes/retained_mode/managers/workflow_manager.py
Labels: enhancement, retained mode, engine

#2286 feature: ParameterList adding some ui convenience parameters
  src/griptape_nodes/exe_types/core_types.py
Labels: enhancement, parameters

#2354 Fixes rename regression with file path. Fixes templates, too.
  src/griptape_nodes/retained_mode/events/workflow_events.py
  src/griptape_nodes/retained_mode/managers/workflow_manager.py
Labels: bug, save/load

#2355 A simple Add Text to Image node that will be useful for testing distributed workflows
  libraries/griptape_nodes_library/griptape_nodes_library.json
  libraries/griptape_nodes_library/griptape_nodes_library/image/add_text_to_image.py
Labels: enhancement, nodes

#2352 update: merge_text handles additional input types
  libraries/griptape_nodes_library/griptape_nodes_library/text/merge_texts.py
Labels: enhancement, nodes

#2321 Update Events for Proper Flow State tracking in the GUI
  src/griptape_nodes/machines/control_flow.py
  src/griptape_nodes/machines/dag_builder.py
  src/griptape_nodes/machines/parallel_resolution.py
  src/griptape_nodes/retained_mode/events/execution_events.py
  src/griptape_nodes/retained_mode/managers/flow_manager.py
  src/griptape_nodes/retained_mode/managers/node_manager.py
Labels: enhancement, retained mode, engine

#2377 Feat/qwen pipelines
  libraries/griptape_nodes_advanced_media_library/diffusers_nodes_library/common/parameters/diffusion/diffusion_pipeline_builder_parameters.py
  libraries/griptape_nodes_advanced_media_library/diffusers_nodes_library/common/parameters/diffusion/diffusion_pipeline_parameters.py
  libraries/griptape_nodes_advanced_media_library/diffusers_nodes_library/common/parameters/diffusion/qwen/qwen_img2img_pipeline_runtime_parameters.py
  libraries/griptape_nodes_advanced_media_library/diffusers_nodes_library/common/parameters/diffusion/qwen/qwen_pipeline_runtime_parameters.py
  libraries/griptape_nodes_advanced_media_library/diffusers_nodes_library/common/parameters/diffusion/qwen/qwen_pipeline_type_parameters.py
  libraries/griptape_nodes_advanced_media_library/diffusers_nodes_library/common/parameters/diffusion/qwen/qwen_pipeline_type_qwen_img2_img_pipeline_parameters.py
  libraries/griptape_nodes_advanced_media_library/diffusers_nodes_library/common/parameters/diffusion/qwen/qwen_pipeline_type_qwen_pipeline_parameters.py
  libraries/griptape_nodes_advanced_media_library/diffusers_nodes_library/common/parameters/diffusion/qwen/qwen_pipeline_type_qwen_upscale_pipeline_parameters.py
  libraries/griptape_nodes_advanced_media_library/diffusers_nodes_library/common/parameters/diffusion/qwen/qwen_upscale_pipeline_runtime_parameters.py
  libraries/griptape_nodes_advanced_media_library/griptape_nodes_library.json
Labels: enhancement, nodes

#2363 Subprocess workflow executor with session events IPC
  src/griptape_nodes/bootstrap/workflow_executors/local_session_workflow_executor.py
  src/griptape_nodes/bootstrap/workflow_executors/local_workflow_executor.py
  src/griptape_nodes/bootstrap/workflow_executors/subprocess_workflow_executor.py
  src/griptape_nodes/bootstrap/workflow_executors/utils/__init__.py
  src/griptape_nodes/bootstrap/workflow_executors/utils/subprocess_script.py
Labels: enhancement, sessions, engine

#2384 Fix/upscale hide dimensions
  libraries/griptape_nodes_advanced_media_library/diffusers_nodes_library/common/parameters/diffusion/common/upscale_pipeline_runtime_parameters.py
Labels: bug, nodes, parameters

#2383 Add subprocess publisher
  src/griptape_nodes/bootstrap/utils/__init__.py
  src/griptape_nodes/bootstrap/utils/python_subprocess_executor.py
  src/griptape_nodes/bootstrap/workflow_executors/subprocess_workflow_executor.py
  src/griptape_nodes/bootstrap/workflow_publishers/__init__.py
  src/griptape_nodes/bootstrap/workflow_publishers/local_workflow_publisher.py
  src/griptape_nodes/bootstrap/workflow_publishers/subprocess_workflow_publisher.py
  src/griptape_nodes/bootstrap/workflow_publishers/utils/__init__.py
  src/griptape_nodes/bootstrap/workflow_publishers/utils/subprocess_script.py
Labels: enhancement, publishing

#2390 fix: run pipeline in thread
  libraries/griptape_nodes_advanced_media_library/diffusers_nodes_library/common/nodes/diffusion_pipeline_runtime_node.py
Labels: bug, nodes, engine

#2393 fix: initialize app in threadsafe way
  src/griptape_nodes/app/app.py
Labels: bug, engine

#2392 Node dependencies (node libraries, imports, files referenced, and workflows referenced) are aggregated when serializing.
  src/griptape_nodes/exe_types/node_types.py
  src/griptape_nodes/retained_mode/events/flow_events.py
  src/griptape_nodes/retained_mode/events/node_events.py
  src/griptape_nodes/retained_mode/managers/flow_manager.py
  src/griptape_nodes/retained_mode/managers/node_manager.py
  src/griptape_nodes/retained_mode/managers/workflow_manager.py
Labels: enhancement, nodes, save/load, engine, dependencies

#2409 refactor!: don't automatically look for libraries in workspace
  src/griptape_nodes/retained_mode/managers/library_manager.py
Labels: refactor, node libraries, engine

#2411 No longer strips control params on save so that output control flow can be preserved.
  src/griptape_nodes/retained_mode/managers/workflow_manager.py
Labels: bug, parameters, save/load, publishing

#2414 Remove explicit text_encoders
  libraries/griptape_nodes_advanced_media_library/diffusers_nodes_library/common/parameters/diffusion/flux/controlnet_parameters.py
  libraries/griptape_nodes_advanced_media_library/diffusers_nodes_library/common/parameters/diffusion/flux/fill_parameters.py
  libraries/griptape_nodes_advanced_media_library/diffusers_nodes_library/common/parameters/diffusion/flux/flux_parameters.py
  libraries/griptape_nodes_advanced_media_library/diffusers_nodes_library/common/parameters/diffusion/flux/img2img_parameters.py
  libraries/griptape_nodes_advanced_media_library/diffusers_nodes_library/common/parameters/diffusion/flux/kontext_parameters.py
  libraries/griptape_nodes_advanced_media_library/diffusers_nodes_library/common/parameters/diffusion/qwen/img2img_parameters.py
  libraries/griptape_nodes_advanced_media_library/diffusers_nodes_library/common/parameters/diffusion/qwen/qwen_parameters.py
Labels: bug, nodes, refactor

#2423 fix: maintain pipeline position when regenerating parameters
  libraries/griptape_nodes_advanced_media_library/diffusers_nodes_library/common/parameters/diffusion/diffusion_pipeline_type_parameters.py
Labels: bug, parameters

#2430 fix: properly position "loras" parameter
  libraries/griptape_nodes_advanced_media_library/diffusers_nodes_library/common/parameters/diffusion/diffusion_pipeline_type_parameters.py
Labels: bug, nodes, parameters

#2433 fix: properly remove qwen text encoder params
  libraries/griptape_nodes_advanced_media_library/diffusers_nodes_library/common/parameters/diffusion/qwen/img2img_parameters.py
Labels: bug, nodes

#2432 refactor: clean up parameter re-ordering logic
  libraries/griptape_nodes_advanced_media_library/diffusers_nodes_library/common/nodes/diffusion_pipeline_runtime_node.py
  libraries/griptape_nodes_advanced_media_library/diffusers_nodes_library/common/parameters/diffusion/diffusion_pipeline_type_parameters.py
Labels: parameters, refactor

#2402 feature: mcp tasks, events, and settings
  .gitignore
  libraries/griptape_nodes_library/griptape_nodes_library.json
  libraries/griptape_nodes_library/griptape_nodes_library/tasks/mcp_task.py
  libraries/griptape_nodes_library/griptape_nodes_library/tools/mcp_tool.py
  src/griptape_nodes/retained_mode/events/agent_events.py
  src/griptape_nodes/retained_mode/events/mcp_events.py
  src/griptape_nodes/retained_mode/griptape_nodes.py
  src/griptape_nodes/retained_mode/managers/agent_manager.py
  src/griptape_nodes/retained_mode/managers/mcp_manager.py
  src/griptape_nodes/retained_mode/managers/settings.py
Labels: enhancement, nodes, config, settings, engine

#2316 refactor: move --no-update from gtn engine to gtn
  src/griptape_nodes/cli/commands/engine.py
  src/griptape_nodes/cli/main.py
Labels: refactor, engine

#2434 refactor: replace watchdog with watchfiles for `make run/watch`
  pyproject.toml
  src/griptape_nodes/app/watch.py
  uv.lock
Labels: refactor, dependencies

#2455 feature: adding search to options trait
  src/griptape_nodes/traits/multi_options.py
  src/griptape_nodes/traits/options.py
Labels: enhancement, parameters
